@using OnlineShopping.Models
@model Product

<div class="container">
    <div class="row">
        <h2>Product Details</h2>
        <div class="col-12">
            <label>Product Name:</label>
            <p class="form-control-static">@Model.ProductName</p>
        </div>
        <div class="col-12">
            <label>Product Description:</label>
            <p class="form-control-static">@Model.ProductDescription</p>
        </div>
        <div class="col-12">
            <label>Category:</label>
            <p class="form-control-static">@Model.ProductCategoryId</p>
        </div>
        <div class="col-12">
            <label>Price:</label>
            <p class="form-control-static">@Model.ProductPrice</p>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <button class="btn btn-primary">Add to Cart</button>
                <input type="number" name="quantity" min="1" value="1" style="width:75px;" />
            </div>  
            <div class="col-3 mt-2">
                <a asp-action="UserProduct" asp-controller="Product" class="btn btn-secondary form-control">Back to List</a>
            </div>
        </div>
    </div>
</div>

